h1 {
  font-size: 250%;
}

/* Max dimensions for all screenshots. */
#console {
  max-height: 700px;
  max-width: 850px;
}

/* Differentiating the JavaScript output from the rest of results by use of font. */
.output {
  font-family: 'Courier New', Courier, monospace;
}