h1 {
  font-size: 250%;
}

h4 {
  background-color: #6082B6;
  font-size: 125%;
}

/* Max dimensions for all screenshots. */
#console, #hub, #index-6, #local-6, #script, #site-6 {
  max-height: 700px;
  max-width: 850px;
}

/* Differentiating the JavaScript output from the rest of results by use of font. */
.output {
  font-family: 'Courier New', Courier, monospace;
}
