h1 {
  font-size: 250%;
}

#index-0, #index-3, #site-0, #site-3, #structure {
  font-size: 80%;
}

#index-0 {
  max-height: 750px;
  max-width: 900px;
}

#index-3 {
  max-height: 700px;
  max-width: 850px;
}

#site-0 {
  max-height: 750px;
  max-width: 1000px;
}

#site-3 {
  max-height: 700px;
  max-width: 850px;
}

#structure {
  max-height: 600px;
  max-width: 200px;
}