h1 {
  font-size: 250%;
}

/* Max dimensions for all screenshots. */
#description, #hub, #index, #local, #script, #site {
  max-height: 800px;
  max-width: 900px;
}

/* Differentiating the JavaScript output from the rest of results by use of font. */
#button, #input, #output {
  font-family: 'Courier New', Courier, monospace;
}